body {
    background-color: #333;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .task-input {
    display: flex;
    margin-bottom: 10px;
  }
  
  #task-input {
    flex-grow: 1;
    padding: 5px;
    background-color: #444;
    color: #f5f5f5;
    border: none;
  }
  
  #due-date-input {
    margin-left: 10px;
    padding: 5px;
    background-color: #444;
    color: #f5f5f5;
    border: none;
  }
  
  #add-task-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #555;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
  }
  
  #task-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #task-list li span {
    flex-grow: 1;
  }
  
  #task-list li .due-date {
    margin-left: 10px;
    font-size: 12px;
    color: #bbb;
  }
  
  #task-list li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #555;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }

  .error-message {
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }


  .news-dropdown {
    position: relative;
  }
  
#news-toggle {
    background-color: #555;
    color: #f5f5f5;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#news-toggle:hover {
    background-color: #666;
}
  
#news-container {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #444;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
    width: 300px; 
}
  
  #news-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #news-list li {
    padding: 10px;
    border-bottom: 1px solid #666;
    cursor: pointer;
  }
  
  #news-list li:hover {
    background-color: #555;
  }

  .completed-dropdown {
    position: relative;
    margin-top: 10px;
  }
  
  #completed-toggle {
    background-color: #555;
    color: #f5f5f5;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }

    #completed-toggle:hover {
        background-color: #666;
    }
  
  #completed-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
    display: none;
  }
  
  #completed-container.show {
    display: block;
  }
  
  #completed-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #completed-list li {
    padding: 10px;
    border-bottom: 1px solid #666;
    cursor: pointer;
  }
  
  #completed-list li:hover {
    background-color: #555;
  }
  